 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/bf50b936f47d4d02d67cdaf4c871377a94f9e3c28cbe325b548c4c3b07c01b5310dbe1dc87b7882d9defbcac953e837df79a493e86d0355872ee70_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 248px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 10px;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/9c4366c995b7b2fc02c2cb63f4fac7720a3efbe545045f01db378df597667e9fdadc99ae04173bdfacbe617f2195a7244639b1a74570904f3d2bd1_1280.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 286px;
  margin: 53px auto 0;
}

.u-section-3 .u-text-2 {
  width: 433px;
  margin: 23px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 16px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 875px;
  margin: 40px auto 60px;
}

.u-section-3 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("images/f03527c6abe22ca7f0cf5b4be3314d936043763e79a98307702bc172d7d5392b7bbe091fc3efbb52c54835c99ae46b92443ed420458bae0b76f150_1280.jpg");
  background-position: 50% 50%;
  min-height: 362px;
  animation-timing-function: ease-in-out;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.5rem;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  font-size: 1.0625rem;
}

.u-section-3 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("images/a5278e94982ddc35d302144044e486df580685fa4f7d70afad8adb3bdafca0292177aa85a3e0d1f24fe896d83281a441f3150848c33dc0ed283ec1_1280.jpg");
  background-position: 50% 50%;
  min-height: 362px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 auto 0 28px;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 30px;
}

.u-section-3 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("images/531c27319adfb3f49c4b9ed46352b46c75e3df52f9f9529099d787690aacef67c2bbfee5d48b8b2497b8730af719ebcb93799b65f3963463803584_1280.jpg");
  background-position: 50% 50%;
  min-height: 362px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 2px 0 0;
}

.u-section-3 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("images/41d9312f19e95c56cdde8a35dd4e55e58c6e7cdbd57263ad2dfe199aff2ee45089e1a79532616e7049e002fa59a6e9a6813f5e13847e32b3e68b61_1280.jpg");
  min-height: 362px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-3 .u-text-10 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.0625rem;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-image-1 {
    min-height: 331px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 331px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-3 {
    min-height: 318px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-4 {
    min-height: 318px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-3 .u-text-9 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 522px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-image-2 {
    min-height: 272px;
  }

  .u-section-3 .u-image-3 {
    min-height: 261px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    min-height: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1714px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 408px;
  }

  .u-section-3 .u-image-3 {
    min-height: 392px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 392px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    align-self: center;
    padding: 9px 31px 11px 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 257px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 331px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-image-3 {
    min-height: 247px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
    margin-left: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-image-4 {
    min-height: 272px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 0;
  }
}