.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  background-image: none;
  width: 316px;
  margin: 59px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 27px auto 0 38px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 8px auto 0 38px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px auto 0 38px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: 36px auto 0 38px;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px auto 0 38px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 65px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 448px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 887px;
}

.u-section-2 .u-text-1 {
  background-image: none;
  margin: 59px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 610px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  width: 170px;
  height: 170px;
  object-position: 50% 0%;
  background-image: url("images/c3.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 371px;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 669px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: auto;
  margin-top: 74px;
  margin-bottom: 0;
  background-image: url("images/d0c31d70a372c2958522974b7343bda70d724d35071958da4e4d07b26afe9afe8c3e8d4e9d411b8b0cccaa0fb48f63ced11c3162837a54705e9e96_1280.jpg");
  background-position: 63.57% 50%;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 74px 5px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 5px 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 669px;
  pointer-events: auto;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 170px;
  object-position: 50% 0%;
  background-image: url("images/2.jpg");
  background-position: 50% 50%;
  margin: 0 99px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 52px 30px 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  width: 371px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 47px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 49px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 313px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 552px;
  }

  .u-section-2 .u-image-2 {
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 552px;
  }

  .u-section-2 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-top: 75px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 74px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    width: 240px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 958px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1539px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 55px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
  }
}